*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/
body {
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
    color: #648880;
  }
h1 {
font-size: 36px;
line-height: 44px;
}
h2 {
font-size: 24px;
line-height: 44px;
}
h3 {
font-size: 21px;
}
h4 {
font-size: 18px;
}
h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    
  }
  
.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}
.hero {
    padding: 22px 80px 66px 50px;
    
  }

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 960px;
    text-align: center;
}

*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.logo {
    float: left;
    border-top: 4px solid #648880;
    padding: 40px 0 22px 0;
  }
.primary-footer small {
    float: left;
  }
.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
}
body {
    font-family: 'Courier New', Courier, monospace;

}

.col-1-3 {
    width: 33%;
}
.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.hero,
.grid {
  margin: 0 auto;
  width: 80%;
}
.hero {
  padding-left: 10px;
  padding-right: 10px;
  
}
a:hover {
    color: #a9b2b9;
  }
a {
    color: #648880;
    text-decoration: none;
}
p a {
    border-bottom: 1px solid #dfe2e5;
}
.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
}
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
  }
  .primary-footer small {
    float: left;
    font-weight: 400;
  }
  .container {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
  }
  .container h2 {
    font-size: 36px;
  }
  .container p {
    font-size: 24px;
  }
  .nav {
    text-align: right;
  }