
#container_wrapper {
    background: rgb(180, 210, 180);
    font-size: 14px;
  }
h1 {
    text-align: center;
}

.welcom_page {
    margin-top: 2em !important;

}
.section_wrapper {
    display: flex;
    flex-wrap: wrap;

}
.nav {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(177, 92, 92);
}
.nav_wrapper {
    flex: 0.5;
}
.page_wrapper {
    flex: 1;
}
.content_text {
    font-size: large;
    font-weight: 800;
    margin-top: 2em;
    color: rgb(5, 110, 49);
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
    word-spacing: .25em;
    
}
.btn {
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
    cursor: pointer;
    margin: 1em;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, .3);;
}
.btn_green {
    background-color: rgb(145, 250, 145);
    float:right;
   
}
.btn_yellow {
    background-color: rgb(234, 234, 52);
}
.btn_orange {
    background-color: rgb(249, 180, 50);
}
.btn_grey {
    background-color: rgb(154, 152, 152);
}
.btn_pink {
    background-color: pink;
}
.content_wrapper {
    
    bottom: 10%;
    right: 30%;
    margin-top: 5rem;
    font-variant: normal;
    font-weight: 900;
   
}
.programming {
    font-size: 5em;
    font-weight: 800;
    text-underline-position: below;
    letter-spacing: em;;
}