*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html body{
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h3, h4, h5, p {
    margin-bottom: 22px;
    color: #9ed7d7;
  }
h1 {
font-size: 36px;
line-height: 44px;
}
h2 {
font-size: 24px;
line-height: 44px;
}
h3 {
font-size: 21px;
}
h4 {
font-size: 18px;
}
h5 {
  color: #595c5e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
    
}
  
.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}
.hero {
    padding: 22px 80px 66px 50px;
    
  }

.container {
    margin: 0 auto;
    width: 960px;
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.logo {
    float: left;
    border-top: 4px solid #f3f4f4;
    padding: 40px 0 22px 0;
  }
.primary-footer small {
    float: left;
  }
.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
}


.col-1-3 {
    width: 32%;
}
.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.hero,
.grid {
  margin: 0 auto;
  width: 80%;
  
}
.hero {
  padding-left: 10px;
  padding-right: 10px;
  
}
a:hover{
  color: #648880;

}

a {
    color: #e3f5f5;
    text-decoration: none;
}
p a {
    border-bottom: 1px solid #8bbced;
}
.logo {
    border-top: 4px solid #f1f6f5;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
}
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.primary-footer {
    color: #f7fafa;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
  }
  .primary-footer small {
    float: left;
    font-weight: 400;
  }
  .container {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
  }
  .container h2 {
    font-size: 36px;
  }
  .container p {
    font-size: 24px;
  }
  .nav {
    text-align: right;
  }
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.row {
  background: #fff;
  min-width: 100%;
  padding: 66px 0 44px 0;
}